<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Mapa con GeoJSON embebido</title>
  <link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css" />
  <script src="https://js.arcgis.com/4.28/"></script>
  <style>
    html, body, #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
    }
  </style>
</head>
<body>
  <!-- <div id="viewDiv"></div> -->
  <div id="viewDiv" style="height: 600px;"></div>
  <button id="hideLayerBtn">Ocultar capa</button>
  <button id="showLayerBtn">Mostrar capa</button>

<script>
  require([
    "esri/views/MapView",
    "esri/Map",
    "esri/layers/GeoJSONLayer"
  ], function (MapView, Map, GeoJSONLayer) {

    let data_string = "{{ data | safe }}";
    let rm_comillas = data_string.replace(/'/g, '"');

    const blob = new Blob([rm_comillas], { type: "application/json" });
    const url = URL.createObjectURL(blob);

    const geojsonLayer = new GeoJSONLayer({
      url: url
    });

    const map = new Map({
      basemap: "streets",
      layers: [geojsonLayer]
    });

    const view = new MapView({
      container: "viewDiv",
      map: map,
      zoom: 12,
      center: [-75.56137371268782, 6.237268565841518]
    });


    document.getElementById("hideLayerBtn").addEventListener("click", function () {
      geojsonLayer.visible = false;
    });

    document.getElementById("showLayerBtn").addEventListener("click", function () {
      geojsonLayer.visible = true;
    });
  });

</script>
</body>
</html>
