<!-- ================= FOOTER ================= -->
<footer class="footer-invias">

  <div class="footer-container">
    <!-- COLUMNAS -->
    <div class="footer-columns">

      <div class="footer-col">
        <h4>Instituto Nacional de Vías - INVÍAS</h4>
        <p><strong>Sede Principal</strong></p>
        <p>Calle 25G # 73B - 90</p>
        <p>Complejo Empresarial Central Point</p>
        <p>Bogotá D.C. - Colombia</p>
        <p><strong>Código Postal</strong> 110931</p>
      </div>

      <div class="footer-col">
        <h4>Conmutador</h4>
        <p>(+57) 601 377 0600</p>

        <h4>Línea gratuita</h4>
        <p>(+57) 01 8000 117844</p>

        <h4>Denuncias de Actos de Corrupción</h4>
        <p>(+57) 601 377 0600<br>Opción 4</p>
      </div>

      <div class="footer-col">
        <h4>Correo institucional</h4>
        <p>atencionciudadano@invias.gov.co</p>

        <h4>Notificaciones judiciales</h4>
        <p>njjudiciales@invias.gov.co</p>

        <h4>Impedimentos y recusaciones</h4>
        <p>impedimentosyrecusaciones@invias.gov.co</p>

        <h4>Buzón de transparencia</h4>
        <p>Línea Ética PAS</p>
      </div>

      <div class="footer-col">
        <h4>Horario de atención al ciudadano</h4>
        <p>Lunes a viernes</p>
        <p>8:00 a.m. – 4:30 p.m.</p>

        <h4>Direcciones Territoriales</h4>
      </div>

    </div>

  </div>

</footer>