{% extends 'index.html' %}
<!-- Header content -->
 {% block header %}: GENERAR MAPA {% endblock %}
{% block content %}

<section>
    <form action="{% url 'generate_map' %}" method="post">
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <table>
            <thead>
                <tr>
                    <td>Directorios resultado</td>
                    <td colspan="2">Fecha de actualización</td>
                </tr>
            </thead>
            <tbody>
                {% for submedia in subdirectories %}
                    <tr>
                        <td>{{ submedia.name }}</td>
                        <td>{{ submedia.update }}</td>
                        <td>{{ submedia.uptime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
        <h1>Interface para lanzar la generación del nuevo Mapa de Vulnerabilidad Faunística</h1>
        <input type="submit" value="Generar mapa">
    </form>

</section>

{% endblock %}