{% extends 'index.html' %}
<!-- Header content -->
 {% block header %}: GENERAR MAPA {% endblock %}
{% block content %}

<section>
    <form action="{% url 'generate_map' %}" method="post">
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <table>
            <thead>
                <tr>
                    <td>Nombre directorio</td>
                    <td>Fecha de actualización</td>
                    <td>Acción</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>caprpeta nombre</td>
                    <td>11/12/2025</td>
                    <td>
                        <button>Ver contenidos</button>
                    </td>
                </tr>
            </tbody>
        </table>
        {% csrf_token %}
        <h1>Interface para lanzar la generación del nuevo Mapa de Vulnerabilidad Faunística</h1>
        <input type="submit" value="Generar mapa">
    </form>

</section>

{% endblock %}