{% extends 'index.html' %}
{% block header %}: DESCARGAR MAPA {% endblock %}

{% block content %}

<section>
    <form action="GEt">
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <h1>Interface para descargar el nuevo Mapa de Vulnerabilidad Faunística</h1>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Fecha actualización</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Carpeta</td>
                    <td>11/12/2025</td>
                    <td>
                        <button>Descargar</button>
                        <button>Ver contenido</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{% endblock %}