<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/img/invias_sin_text.ico' %}">
    <link rel="stylesheet" href="{% static 'frontend/styles/styles.css' %}">
    <title>Demos {% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <!-- Header content -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/INV%C3%8DAS_Colombia_logo.png/1200px-INV%C3%8DAS_Colombia_logo.png"
            alt="Logo">
        <h1>INVIASVIVO{% block header %}{% endblock %}</h1>
    </header>
    {% block content %}
    <!-- Content -->

    {% endblock %}
    <footer>
        <p>&copy; {% now 'Y' %} INVIASVIVO - Todos los derechos reservados</p>
    </footer>
    <script src="{% static 'frontend/scripts/script.js' %}"></script>
</body>

</html>