{% extends 'index.html' %}

{% block content %}

<h1>Interface para lanzar proceso</h1>
<h2>Proceso de Luis</h2>

<p>Presione el botón para activar el proceso de generación de insumos. Tenga presente tener las credenciales actualizadas, en caso contrario el sistema se las solicitará.</p>

<div>
    <form action="{% url 'generate_inputs' %}" method="post">
        {% csrf_token %}
        <button type="submit">Generar insumos</button>
    </form>
    <form action="{% url 'run_pipeline' %}" method="post">
        {% csrf_token %}
        <button type="submit">Descargar insumos</button>
    </form>
    <form action="{% url 'ejecutar_maxent' %}" method="post">
        {% csrf_token %}
        <button type="submit">Ejecurtar modelo maxent</button>
    </form>
</div>

{% endblock %}