{% extends 'index.html' %}
<!-- Header content -->
 {% block header %}: GENERAR MAPA {% endblock %}
{% block content %}

<section>
    <form action="{% url 'ejecutar_maxent' %}" method="post">
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        {% csrf_token %}
        <h1>Interface para lanzar el modelo de procesamiento MAXENT</h1>
        <input type="submit" value="Procesar información">
    </form>

</section>

<footer> <p>&copy; 2025 INVIASVIVO - Todos los derechos reservados</p> </footer>

{% endblock %}