{% extends 'index.html' %}
<!-- Header content -->
 {% block header %}: GENERAR MAPA {% endblock %}
{% block content %}

<section>
    <form action="{% url 'run_centralprocess' %}" method="post">
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <table>
            <thead>
                <tr>
                    <td>Nombre directorio</td>
                    <td>Fecha de actualización</td>
                    <td>Acción</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>caprpeta nombre</td>
                    <td>11/12/2025</td>
                    <td>
                        <button>Ver contenido</button>
                    </td>
                </tr>
            </tbody>
        </table>
        {% csrf_token %}
        <h1>Interface para lanzar el modelo de procesamiento MAXENT</h1>
        <input type="submit" value="Procesar información">
    </form>

</section>

<footer> <p>&copy; 2025 INVIASVIVO - Todos los derechos reservados</p> </footer>

{% endblock %}