{% extends 'index.html' %}
<!-- Header content -->
 {% block header %}: EJECUTAR MAXENT {% endblock %}
{% block content %}

<section>
    <article class="article-download">
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <table>
            <thead>
                <tr>
                    <td>Jacknife directorios</td>
                    <td colspan="2">Fecha de actualización</td>
                </tr>
            </thead>
            <tbody>
                {% for submedia in subdirectories %}
                    <tr>
                        <td>{{ submedia.name }}</td>
                        <td>{{ submedia.update }}</td>
                        <td>{{ submedia.uptime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1>Interface para lanzar el modelo de procesamiento MAXENT</h1>
        <form class="form-download" action="{% url 'run_centralprocess' %}" method="post">
        {% csrf_token %}
            <div class="content-buttons">
                <input type="submit" value="Procesar información">
                <a type="submit" class="button-stop" href="{% url 'stop_services' %}"
                    onclick="return confirm('¿Está seguro de que desea detener los procesos?')">Detener proceso</a>
            </div>
        </form>
    </article>
</section>

<section id="downloadModal" class="modal">
    <div class="modal-content">
        <span class="close">X</span>
        <h3 id="modalTitle"></h3>
        <ol id="modalList"></ol>
    </div>
</section>

{% endblock %}