{% extends 'index.html' %}
{% block title %}: Servicios{% endblock %}
{% block content %}

<!-- Header content -->
<header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/INV%C3%8DAS_Colombia_logo.png/1200px-INV%C3%8DAS_Colombia_logo.png"
        alt="Logo">
    <h1>INVIASVIVO{% block header %}: SERVICIOS PARALELOS{% endblock %}</h1>
</header>


<section class="sukubun">
    <form id="uploadForm" action="{% url 'db_sukubun' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <!-- Sukubun upload fomulary -->
         <h1>Ingrese el documento de SUKUBUN actualizado</h1>
         <table>
            <thead>
                <tr>
                    <td>Nota registrada</td>
                    <td>Última actualización</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ last_sukubun.note }}</td>
                    <td>{{ last_sukubun.update_at }}</td>
                </tr>
            </tbody>
         </table>
         <input type="file" name="file" id="fileInput" >
         <input type="text" name="note" id="noteInput" placeholder="Ingrese nota" >
         <div class="content-buttons">
            <input type="submit" value="Almacenar archivo">
         </div>
    </form>

    {% for file in sukubun %}
       {% if file.update_at|date:"Y-m-d" == today|date:"Y-m-d" %}
            <form action="{% url 'run_pipeline' %}" method="post">
                <!-- Parallel process formulary -->
                {% csrf_token %}
                <h1>Interface para lanzar procesos de servicios paralelos</h1>
                <div class="content-buttons">
                    <input type="submit" value="Activar servicios paralelos">
                    <a type="submit" class="button-stop" href="{% url 'stop_services' %}" onclick="return confirm('¿Está seguro de que desea detener los servicios?')">Detener servicios</a>
                </div>
            </form>
        {% endif %}
    {% endfor %}
   
</section>

{% endblock %}