{% extends 'index.html' %}
{% block title %}: Servicios{% endblock %}
<!-- Header content -->
{% block header %}: SERVICIOS PARALELOS{% endblock %}
{% block content %}

{% if last_sukubun.update_at|date:"Y-m-d" == today|date:"Y-m-d" %}
<section class="sukubun" {% if last_sukubun.update_at|date:"Y-m-d" == today|date:"Y-m-d" %}style="display: block; widht: 100%;"{% endif %}>
    <form id="uploadForm" {% if last_sukubun.update_at|date:"Y-m-d" == today|date:"Y-m-d" %}style="widht: 80%; margin: 1rem auto;"{% endif %} action="{% url 'db_sukubun' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <!-- Sukubun upload fomulary -->
        <h1>Ingrese el documento de SUKUBUN actualizado</h1>
        <table>
            <thead>
                <tr>
                    <td colspan="2">Nota registrada/ Directorio</td>
                    <td colspan="2">Última actualización</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">{{ last_sukubun.note }}</td>
                    <td colspan="2">{{ last_sukubun.update_at }}</td>
                </tr>
                {% for submedia in subdirectories %}
                    <tr>
                        <td>Directorio {{ forloop.counter }}</td>
                        <td>{{ submedia.name }}</td>
                        <td>{{ submedia.update }}</td>
                        <td>{{ submedia.uptime }}</td>
                    </tr>
                {% endfor %}
                <!-- <tr>
                    <td>Carpeta de resultados servicios</td>
                    <td><button>Ver contenidos</button></td>
                </tr>
                <tr>
                    <td>Carpeta resultados K-Ripley</td>
                    <td><button>Ver contenidos</button></td>
                </tr> -->
            </tbody>
        </table>
        <input type="file" name="file" id="fileInput">
        <input type="text" name="note" id="noteInput" placeholder="Ingrese nota">
        <div class="content-buttons">
            <input type="submit" value="Almacenar archivo">
        </div>
    </form>

    {% for file in sukubun %}
    <form {% if last_sukubun.update_at|date:"Y-m-d" == today|date:"Y-m-d" %}style="widht: 80%; margin: 1rem auto;"{% endif %} action="{% url 'run_pipeline' %}" method="post">
        <!-- Parallel process formulary -->
        {% csrf_token %}
        <h1>Interface para lanzar procesos de servicios paralelos</h1>
        <div class="content-buttons">
            <input type="submit" value="Activar servicios paralelos">
            <a type="submit" class="button-stop" href="{% url 'stop_services' %}"
                onclick="return confirm('¿Está seguro de que desea detener los servicios?')">Detener servicios</a>
        </div>
    </form>
    {% endfor %}
</section>
{% else %}
<section>
    <form id="uploadForm" action="{% url 'db_sukubun' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><a class="logoutbtn" href="{% url 'db_logout' %}">Cerrar cesión</a></p>
        <table>
            <thead>
                <tr>
                    <td colspan="2">Nota registrada/ Directorio</td>
                    <td colspan="2">Última actualización</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sukubun</td>
                    <td colspan="2">{{ last_sukubun.note }}</td>
                    <td colspan="2">{{ last_sukubun.update_at }}</td>
                </tr>
                {% for submedia in subdirectories %}
                    <tr>
                        <td>Directorio {{ forloop.counter }}</td>
                        <td>{{ submedia.name }}</td>
                        <td>{{ submedia.update }}</td>
                        <td>{{ submedia.uptime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Sukubun upload fomulary -->
        <h1>Ingrese el documento de SUKUBUN actualizado</h1>
        <input type="file" name="file" id="fileInput">
        <input type="text" name="note" id="noteInput" placeholder="Ingrese nota">
        <div class="content-buttons">
            <input type="submit" value="Almacenar archivo">
        </div>
    </form>
</section>
{% endif %}

{% endblock %}