{% extends 'base.html' %}

{% block content %}

<div class="main">
    <div class="card">
        <h2 class="card-title">Seleccione la opción</h2>
        <div class="container">
            <div class="row">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-info" href="{% url 'filter_gray' %}" type="button">Gris</a>
                    <a class="btn btn-outline-info" href="{% url 'filter_color' %}" type="button">Color</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}